* {
    box-sizing: border-box;
}

body {
    padding: 0;
    margin: 0;
}

.container {
    width: 100%;
    max-width: 600px;
    background: lightblue;
    color: black;
    margin: 0 auto;
    border: 1px solid black;
}

.row {
    width: 100%;
}

.row:after,
.row:before {
    content: "";
    display: table;
    clear: both;
}

.textbox {
    text-align: center;
    padding: 5%;
}

.textbox input {
    margin-top: 5%;
    height: 50px;
    text-align: center;
    width: 80%;
    border-radius: 2em;
}

.textbox button {
    margin-top: 5%;
    width: 50%;
    height: 50px;
    text-align: center;
    border-radius: 2em;
}

.image {
    text-align: center;
}

.image img {
    margin-top: 5%;
    width: 50%;
    height: auto;
}

h2 {
    text-align: center;
}

#signIn {
    background: #4F78F7;
}

#register {
    background: #5EDE54;
}